* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	margin: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

h1 {
	font-size: 36px;
}

nav {
	background-color: #444;
	padding: 10px 0;
	text-align: center;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 20px;
	font-size: 18px;
}

nav a:hover {
	text-decoration: none;
	color: #999;
}

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 900px;
	margin: 2rem auto;
	padding: 2rem;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	height: 90%;
}

.content {
	margin-top: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1rem;
}

ul {
	list-style: none;
}

p.flash {
	width: 100%;
	padding: 5px;
}

p.flash.error {
	border: 3px solid red;
	background-color: #ff440070;
}

p.flash.success {
	border: 3px solid green;
	background-color: #acff2f70;
}

p.flash.info {
	border: 3px solid blue;
	background-color: #0000ff6e;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
}

label {
	display: block;
	margin: 10px 0 5px;
	font-size: 16px;
	color: #666;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type='submit'] {
	background-color: #4caf50;
	color: white;
	cursor: pointer;
}

input[type='submit']:hover {
	background-color: #45a049;
}

.link {
	color: blue;
	text-decoration: none;
}

.button {
	display: inline-block;
	padding: 10px 15px;
	background-color: #4caf50;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background-color: #45a049;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropmenu {
	background-color: #444;
	color: white;
	padding: 16px;
	border: none;
}

.dropbtn {
	background-color: #444;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	border-radius: 50%;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #555;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #333;
}

/* ESTILOS PARA LAS TABLAS */
.btn {
	margin: 0.25rem 0 0.25rem 0;
}

td {
	align-items: center;
	vertical-align: middle;
}

th {
	align-items: center;
	vertical-align: middle;
	font-size: 18px;
}

.center {
	display: flex;
	justify-content: center;
}

.indice-btn {
	margin: 0.1rem;
}

.contenido-paginado {
	display: flex;
	justify-content: space-around;
}

.centrado-home {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.form__group textarea {
	width: 100%;
	height: 100px;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	margin: auto;
}

.form-check-label {
	font-size: 20px;
}

#flexSwitchCheckDefault {
	margin-top: 0.7rem;
}

input::placeholder {
	opacity: 0.5;
}

.date {
	font-size: x-small;
}

#cant_seguimientos {
	background-color: #444;
	color: white;
	border: none;
	border-radius: 25%;
}

.form__error {
	color: red;
	font-size: 0.9rem;
}
