{% extends "layout.html" %}
{% block title %}Crear rol de dueño/a para un usuario/a en una institucion{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}   
{% endblock %}

{% block content %}
{% if error != '' %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}
<div class="container">
    <h1>Crear rol de dueño/a para un usuario/a en una institucion</h1>
    <form method="POST" action="{{ url_for('usersRoles.crear_userRol') }}">
        <label for="user_id">Selecciona un usuario:</label>
        <select class="form-select" aria-label="Default select example" name="user_id">
            <option value="" selected>Selecciona un usuario</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
            {% endfor %}
        </select>
        {% if 'user_id' in form.errors %}
            <div class="alert alert-danger">
                {% for error in form.errors['user_id'] %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <label for="institucion_id">Selecciona una institución:</label>
        <select class="form-select" aria-label="Default select example" name="institucion_id">
            <option value="" selected>Selecciona una institución</option>
            {% for institucion in instituciones %}
                <option value="{{ institucion.id }}">{{ institucion.nombre }}</option>
            {% endfor %}
        </select>
        {% if 'institucion_id' in form.errors %}
            <div class="alert alert-danger">
                {% for error in form.errors['institucion_id'] %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <button class="btn btn-success" type="submit">Guardar</button>
    </form>
</div>
{% endblock %}