{% from "macros/fields.html" import render_text_field %}
{% extends "layout.html" %}

{% block title %}Editar usuario {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}   
{% endblock %}

{% block content %}
<div class="container">
        <h2>Editar usuario</h2>
        <form method="POST" action="{{ url_for('users.editar_usuario', id=id) }}" novalidate>
            {{ render_text_field(form.email) }}
            {{ render_text_field(form.first_name) }}
            {{ render_text_field(form.last_name) }}   
            <button class="btn btn-success mt-3" type="submit">Guardar cambios</button>
        </form>
</div>
{% endblock %}
