{% from "macros/fields.html" import render_text_field %}
{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}
<style>
    th{
        text-align:start;
    }
</style> 
  
{% block navbar %}
{{ super() }}   
{% endblock %}

{% block content %}
<div class="container contenido-paginado">
    <div class="d-flex mb-3 justify-content-between">
        <div>
            <h2>Usuarios</h2>
            <a href="{{ url_for('users.crear_usuario') }}"><button class="btn btn-success" style="margin-bottom: 10px;">Crear Usuario</button></a>   
        </div>
        <form method="POST" action="">
                {{ render_text_field(form.email) }}
                <div class="d-flex justify-content-between mt-1">
                        {{ render_text_field(form.status) }}
                        <div>
                            <button class="btn btn-secondary" type="submit"> <i class="bi bi-search"></i></button>
                        </div>
                </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Mail</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        {% for user in users.items %}
        <tr>
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if user.status == "Habilitado" %}
                    <a href="{{ url_for('users.bloquear_usuario', id=user.id) }}"><button class="btn btn-warning"><i class="bi bi-person-dash"> Bloquear</i></button></a>
                    <a href="{{ url_for('users.desbloquear_usuario', id=user.id) }}"><button class="btn btn-success" disabled><i class="bi bi-person-check"> Habilitar</i></button></a>
                {% else %}
                    <a href="{{ url_for('users.bloquear_usuario', id=user.id) }}"><button class="btn btn-warning" disabled><i class="bi bi-person-dash"> Bloquear</i></button></a>
                    <a href="{{ url_for('users.desbloquear_usuario', id=user.id) }}"><button class="btn btn-success"><i class="bi bi-person-check"> Habilitar</i></button></a>
                {% endif %}
                <a href="{{ url_for('users.editar_usuario', id=user.id) }}"><button class="btn btn-secondary"><i class="bi bi-pen"></i></button></a>
                <button class="btn btn-danger delete-button" data-item-id="{{ user.id }}"><i class="bi bi-trash "></i></button>
                <a href="{{ url_for('users.ver_usuario', id=user.id) }}"><button class="btn btn-light"><i class="bi bi-person-lines-fill"></i></button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div class="center">
        {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if page_num == users.page %}
                    <a class="indice-btn btn btn-secondary" href="{{ url_for('users.index', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="indice-btn btn btn-outline-secondary" href="{{ url_for('users.index', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
        {% endfor %}
    </div>
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.delete-button'); 
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                const itemId = button.dataset.itemId;  
                Swal.fire({
                    title: 'Estás seguro?',
                    icon: 'warning',
                    showCancelButton: true,
                    reverseButtons: true,
                    confirmButtonText: 'Sí!',
                    cancelButtonText: 'No, cancelar',
                }).then((result) => {
                    if (result.value) {
                        fetch(`/users/${itemId}/eliminar`, {
                        method: 'POST'
                        })
                        Swal.fire('Borrado!', 'El usuario ha sido borrado.', 'success').then((result) => {
                            location.reload();
                          });
                    } else if (!result.value) {
                        Swal.fire('Cancelado', '', 'info');
                    }
                });
            });
        });
    });
</script>
  
{% endblock %}





