{% from "macros/fields.html" import render_text_field %}
{% extends "layout.html" %}

{% block title %}Solicitud de servicio{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}   
{% endblock %}

{% block content %}

<div class="container">
    <h2>Nueva solicitud de servicio</h2>
    <form method="POST" action="{{ url_for('solicitudes.crear_solicitud') }}" novalidate>
        {{ render_text_field(form.user) }}
        {{ render_text_field(form.servicio) }}
        {{ render_text_field(form.observaciones) }}
        <button class="btn btn-success" type="submit">Aceptar</button>
    </form>
</div>

{% endblock %}
